<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDE_VM_DOWNLOAD_LINK</key>
	<string>https://www.googleapis.com/drive/v3/files/1JYhLDJytbrd6ZASoDzufCQvV8BcuYgnt?alt=media&amp;key=AIzaSyDsGHNUbbMEEZTgJkQ4gDn1oD2mkZlMFZI</string>
</dict>
</plist>
